# Ignore build output and IDE configs
.settings/
bin/
target/
.classpath
.project

# Ignore all files by default
*

# But keep these specific files and folders
!STOCK-SERVICE.properties
!ORDER-SERVICE.properties
!EMAIL-SERVICE.properties
